body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: sans-serif;
  text-align: center;
}
.column {
  float: left;
  width: auto;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}